.disney-app {
  overflow-x: hidden;
  position: relative;
  background-color: #fff0f2;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
  
  .App-header {
    background-color: #ffc5e0;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px black;
    padding: 15px;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    height: 490px;
  }

  .disney-height {
    min-height: 475px;
  }
  
  .question {
    margin: 20px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 15px 10px;
  }
  
  .option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .option{
    width: 300px;
    padding: 10px;
    border-radius: 17px;
    border: 1px solid black;
    font-weight: 600;
  }
  
  .option:hover {
    background-color: #f5dea4;
    transition: 0.5s;
    color: rgb(0, 0, 0);
  }
  
  .answer{
    display: none;
    margin: auto;
  }
  
  img {
    height: 275px;
    width: auto;
    border-radius: 35px;
  }
  
  .add-shake {
    animation: shake .3s;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .btn-next {
    width: 70px;
    padding: 10px 12px;
    background-color: #ffe7ac;
    color: rgb(0, 0, 0);
    margin: 10px auto;
  } 
  
  .btn-again {
    width: 100px;
  }
  
  .disney-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    background-color: #FFC5E0;
  }
  
  .disney-footer > small {
    padding: 5px;
  }